*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INICIO DE HEADER*/
header{
    width: 100%;
    height: 90px;
    background-color: rgb(22, 20, 20);
    position: fixed;
}
header img{
    width: 75px;
    margin-left: 60px;
    margin-top: 8px;
}
nav{
    width: 70%;
    height: 80px;
    text-align: center;
    padding: 1em;
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 15px;
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: white;
    display: inline-block;
}
/*nav ul li a:hover{
    font-family: 'Permanent Marker', cursive;
    color: darkturquoise;
    transition: all 300ms;
}*/
nav ul li a:hover{
    color: rgb(6, 239, 154);
    transform: scale(1.1);
    transition: all 300ms;
}
/*INICIO DEL CONTAINER*/
.container{
    width: 100%;
    height: 130vh;
    background: linear-gradient(360deg, #050505e4 30%, transparent),url(../img/Negro1.png), rgba(25, 203, 5, 0.82);
    background-size: cover;
    padding-top: 130px;
}
.container .formulario{
    width: 40%;
    height: 550px;
    background: linear-gradient(360deg, #c53232bb 30%,  #edaeaee4) ;
    border-radius: 20px;
    margin-left: 400px;
    padding-top: 25px;
}
.container .formulario form{
    margin-left: 60px;
    font-family: 'Permanent Marker', cursive;
    color:rgb(8, 8, 8);
}
/*INICIO DE FOOTER*/
footer{
    width: 100%;
    height: 300px;
    background: linear-gradient(360deg, #1e1e1edf 10%, transparent),url(../img/background-4.jpg);
    background-size: cover;
}
footer .informacion-footer{
    width: 100%;
    height: 50px;
    margin-left: 100px ;
    padding-top: 70px;
}
footer .informacion-footer a{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size:22px;
    letter-spacing: 3px;
    color:whitesmoke;
    margin: 10px;
}
footer .informacion-footer a:hover{
    color:black;
    transition: all 300ms;
}
footer .pie{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size:18px;
    letter-spacing: 3px;
    color:whitesmoke;
    margin-top: 100px;
    margin-left: 370px;
}
