* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variables*/
/*fin variables*/
header {
  position: fixed;
  transition: 0.5s;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: end;
  z-index: 1;
}

.header img {
  width: 85px;
  margin-right: 700px;
}

.navbar-nav {
  font-family: "Permanent Marker", cursive;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #3d882a;
  transform: scale(1.2);
  transition: all 300ms;
}

/*inicio de formulario*/
.form {
  display: flex;
  width: 100%;
  height: 110vh;
  background: linear-gradient(360deg, rgba(5, 5, 5, 0.8941176471) 30%, transparent), url(../img/background-1.jpg), rgba(25, 203, 5, 0.82);
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.form .main {
  width: 40%;
  height: auto;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
  /* background-image: linear-gradient(to left, rgba(244, 67, 250, 0.269),rgba(235, 57, 149, 0.349), rgba(240, 81, 224, 0.094));*/
  overflow: hidden;
  padding: 0.7em;
  border-radius: 1em;
  margin-top: 100px;
  /*margin-left: 40px;*/
  display: grid;
  align-items: end;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 0.6em;
  animation: mostrar 1.5s ease-in-out;
}
.form .main .main__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  padding: 0em 0.7em;
  text-align: center;
}
.form .main .main__contact .main__form {
  display: grid;
  justify-items: center;
  gap: 1.5em;
}
.form .main .main__contact .main__form .main__input {
  width: 80%;
  max-width: 500px;
  outline: none;
  border: none;
  padding: 1em;
  border-radius: 0.6em;
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  letter-spacing: 2px;
}
.form .main .main__contact .main__form .enviar {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 10px 22px;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(1, 1, 1);
  font-family: "Permanent Marker", cursive;
  transition: all 500ms;
}
.form .main .main__contact .main__form .enviar:hover {
  border: 2px solid #1d4115;
  color: #1d4115;
}
.form .main .main__title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 5px;
  font-size: 30px;
}

/*INICIO DE FOOTER*/
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: linear-gradient(360deg, rgba(19, 20, 21, 0.8941176471) 30%, transparent), url(../img/background-4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
  align-content: center;
}
.footer .footer__information {
  width: 100%;
  display: flex;
  height: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer .footer__information ul {
  width: 100%;
  display: flex;
  list-style: none;
}
.footer .footer__information ul li {
  width: 100%;
  text-align: center;
}
.footer .footer__information ul a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}
.footer .footer__information ul a:hover {
  color: #000000;
  transition: all 600ms;
}
.footer .footer__end {
  height: 30%;
  display: flex;
  color: #646464;
  font-size: 15px;
  font-family: "Poppins";
  text-align: center;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=contacto1.css.map */