*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    transition: 0.5s;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    justify-content: end;
    z-index: 1;
}
.header img{
    width: 85px;
    margin-left: 20px;
    margin-right: 600px;
}
.navbar{
    width: 100%;
    justify-content: center;
}
