*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INICIO DE HEADER*/
header{
    position: fixed;
    transition: 0.5s;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    justify-content: end;
    z-index: 1;
}
.header img{
    width: 85px;
    margin-right: 700px;
}
.navbar-nav{
    font-family: 'Permanent Marker', cursive;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #3d882a;
    transform: scale(1.2);
    transition: all 300ms;
}

/*INICIO DE CONTENIDO*/
.information{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    background: linear-gradient(360deg, #131415aa 100%, transparent),url(../img/promo4.jpg);
    /*background: url(../img/background-7.jpg);*/
    background-size: cover;
}
.information h1{
    display: flex;
    font-family: 'Permanent Marker';
    font-size: 50px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px black;
    padding-top: 150px;
    justify-content: center;
}
.information h2{
    display: flex;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 10px;
    color: rgb(253, 255, 252);
    margin-bottom: 20px;
    margin-top: 80px;
    justify-content: center;
}
.information .info-texto{
    display: flex;
    width: 100%;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: rgb(253, 255, 252);
    justify-content: center;
    text-align: center;
    padding: 30px;
}
/*slider*/

.carousel-item{
    width: 100%;
    height: 100vh;
}
.slide__info{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.slide__info h2{
    display: flex;
    justify-content: center;
    display: flex;
    font-family: 'Permanent Marker';
    font-size: 50px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px black;
    padding-top: 50px;
    justify-content: center;
}
.slide__info p{
    display: flex;
    width: 100%;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgb(253, 255, 252);
    text-align: center;
    padding: 300px;
}
/*INICIO DE FOOTER*/
.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(360deg, #131415e4 30%, transparent), url(../img/background-4.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.footer .footer__information{
    width: 100%;
    display: flex;
    height: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer .footer__information ul{
    width: 100%;
    display: flex;
    list-style: none;
}
.footer .footer__information ul li{
    width: 100%;
    text-align: center;
}
.footer .footer__information ul li a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.footer .footer__information ul li a:hover{
    color: #000000;
    transition: all 600ms;
}
.footer__end{
    height: 30%;
    display: flex;
    color: #646464;
    font-size: 15px;
    font-family: 'Poppins';
    text-align: center;
    justify-content: center;
    align-items: center;
}

